body {
  margin: 0;
  padding: 0;

  /* Red to blue gradient */
  /* background: #b92b27;  
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  
  background: linear-gradient(to right, #1565C0, #b92b27);  */

  /* Pink gradient */
  /* background: #ee9ca7; 
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7); 
background: linear-gradient(to right, #ffdde1, #ee9ca7);  */

/* Blue gradient */
/* background: #2980B9;  
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  */

/* background: rgb(0,137,251);
background: radial-gradient(circle, rgba(0,137,251,1) 9%, rgba(23,211,255,1) 21%, rgba(0,255,204,1) 39%, rgba(228,164,238,1) 58%, rgba(255,170,123,1) 73%, rgba(254,233,117,1) 91%); */

background: rgb(0,137,251);
background: linear-gradient(90deg, rgba(0,137,251,1) 9%, rgba(23,211,255,1) 21%, rgba(0,255,204,1) 39%, rgba(228,164,238,1) 58%, rgba(255,170,123,1) 73%, rgba(254,233,117,1) 91%);
}

.app {
  text-align: center;
}

button{
  width: 45%;
  height: 100px;
  font-size: 25px;
  overflow: hidden;
}
.b1{
  background-color: #99CCFF;
  /* border: 10px solid yellow; */
  border-top: 10px solid #E6E6E6;;
    border-left: 10px solid #E6E6E6;
    /* border-bottom: 5px solid #949494;
    border-right: 5px solid #949494; */
}
.b2{
  background-color: #99FF99;
  border-top: 10px solid #E6E6E6;
    /* border-left: 5px solid #FBFAF9;
    border-bottom: 5px solid #949494; */
    border-right: 10px solid #bbbbbb;
}
.b4{
  background-color: #FFaaFF;
  /* border-top: 5px solid #FBFAF9;
  border-left: 5px solid #FBFAF9; */
  border-bottom: 10px solid #bbbbbb;
  border-right: 10px solid #bbbbbb;
}
.b3{
  background-color: #FF9966;
  /* border-top: 5px solid #FBFAF9; */
    border-left: 10px solid #E6E6E6;
    border-bottom: 10px solid #bbbbbb;
    /* border-right: 5px solid #949494; */
}


.next{
  background-color: #FFFFaa;
  border-top: 10px solid #E6E6E6;
  border-left: 5px solid #E6E6E6;
  border-bottom: 5px solid #bbbbbb;
  border-right: 10px solid #bbbbbb;

  margin-bottom: 50px;
}

.b1:hover{
  background-color: #0066FF;
  -webkit-transition-duration: 2s;
    transition-duration: 0.6s;
}

.b2:hover{
  background-color: #0FFF0F;
  -webkit-transition-duration: 2s;
    transition-duration: 0.6s;
}

.b3:hover{
  background-color: #FF4444;
  -webkit-transition-duration: 2s;
    transition-duration: 0.6s;
}

.b4:hover{
  background-color: #FF00FF;
  -webkit-transition-duration: 2s;
    transition-duration: 0.6s;
}

.next{
  margin-top: 2%;
}
/* #answers{
  border: 8px solid yellowgreen;

} */
.next:hover{
  background-color: yellow;
  -webkit-transition-duration: 2s;
    transition-duration: 0.6s;
}

.title{
  text-decoration: underline;
}

.picture{
  height: 250px ;
}

.Hmm{
  margin-bottom: 3%;
}

.link{
  text-decoration: underline;
  color: blue;
}

.start{
  display: flex;
  justify-content: center;
}

.begin{
  display: flex;
  justify-content: center;
}
