body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.trivia{
  font-weight: bold;
  height: 100px;
}

button{
  width: 45%;
  height: 100px;
  font-size: 25px;

  margin-top: 5%;
}

.b1:hover{
  background-color: blue;
}

.b2:hover{
  background-color: green;
}

.b3:hover{
  background-color: purple;
}

.b4:hover{
  background-color: red;
}

.next:hover{
  background-color: yellow;
}

.title{
  text-decoration: underline;
}